header{
    background: #ffffff;
    border-bottom: 1px solid #000000;
    margin-bottom: 16px;
}

.header_inner{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1370px;
}

#header_nav{
    margin: 0 auto;
    width: 100%;
    max-width: 1370px;
}

#header_nav ul{
    display: flex;
    height: 40px;
}

#header_nav ul li{
    border: 1px solid #000;
    flex:1;
    list-style: none;
    text-align: center;
}

#header_nav ul li a{
    padding: 8px 0;
}